body {
    background-color: #e4e6eb;
    background-position: center
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: "Georgia", serif; 
}

h3 {
    text-align: center;
    font-family: "Garamond", serif;
}

h4, ul, figcaption, p {
    font-family: "Garamond", serif;
}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#secondtitle {
    text-align: center;
    font-family: "Garamond", serif;
}

#tribute-link {
    text-align: center;
    color: white;
}

#img-caption {
    text-align: center;
    color: white;
}
